/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
    background-image: url("../img/background.png");
}

.inner-wrap {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 0.5em;
}



/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 2em;
    background-color: #000;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}

.header-logo {
    position: absolute;
    top: 7em;
    left: 1em;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    max-width: 100%;
    min-height: 2em;
    background-color: #535353;
    color: #fff;
    padding: 0.5em 0;
}

.outer-wrap-navbar a {
    color: #fff;
}

.outer-wrap-navbar a:hover {
    color: #ddd;
}

/* Imported style https://www.webdesignerdepot.com/2012/08/create-a-stunning-menu-in-css3/
-------------------------------------------------------------------- */

.clearfix {
    clear: both;
}

.wrap {
    /* width: 940px; */
    margin: 3em auto;
    font-family: 'Droid Sans', sans-serif;
}

nav {
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 6px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    position: relative;
}

.menu li {
    float: left;
    position: relative;
    display: block;
}

.menu li a {
    color: #444;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin: 8px;
    vertical-align: middle;
    text-decoration: none;
}

.menu li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

/* Dropdown styles */
.menu ul {
    position: absolute;
    left: -9999px;
    list-style: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.menu ul li {
    float: none;
}

.menu ul a {
    white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    left: 5px;
    opacity: 1;
    padding-left: 0;
}

/* Persistant Hover State */
.menu li:hover a {
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 12px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

.menu li:hover ul a {
    background: none;
    border-radius: 0;
    box-shadow: none;
}

.menu li:hover ul li a:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 12px;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}


/**
 * Main
 */
.outer-wrap-main {
    min-height: 33em;
    margin-bottom: 2em;
}

.inner-wrap-main {
    min-height: 23em;
    background: url(../img/transparent.png);
    border-radius: 5px;
    padding: 1em 2em;
    color: #cccaca;
}

.wrap-main h1 {
    text-align: center;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
}

.author {
    font-style: italic;
}

.me {
    width: 400px;
    float: right;
    border: 5px solid black;
    border-width: medium;
    border-radius: 10px;
    margin-left: 15px;
}

.linux-img {
    float: right;
}

.justify {
    text-align: justify;
}

/**
 * Footer
 */
.outer-wrap-footer {
    bottom: 0;
    max-width: 100%;
    min-height: 11em;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    color: #444;
    color: dimgrey;
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
    font-family: "Cambria", Georgia, Times, 'Times New Roman', serif;
    text-transform: none;
}

.outer-wrap-footer a {
    color: grey;
    text-decoration: none;
}

ul .outer-wrap-footer {
    list-style-position: inside;
}



.footer-column {
    width: 33.33333%;
    float: left;
}

.footer-column-1 {
    text-align: left;
    padding: 0;
}

.footer-column-2 {
    text-align: center;
    padding: 0;
}

.footer-column-3 {
    text-align: right;
    padding: 0;
}



/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
